name: CI

on:
  pull_request:
  push:
    # branches: [master]

jobs:
  fmt:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Check Formatting
      run: cargo fmt -- --check

  clippy:
    name: Check lints
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Clippy
      run: cargo clippy --all --all-targets -- -Dwarnings
